<ion-header>
  <ion-navbar>
    <ion-thumbnail ><img src="assets/images/angel.png" class="imgchat"></ion-thumbnail>
    <ion-title class="tittle">Proveedor talfi</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/images/angel.png">
      </ion-avatar>
      <ion-card><h2 *ngFor="let message of chats">{{message}}</h2>
      </ion-card>
      <ion-note item-right>1:12 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-right>
        <img src="assets/images/angel.png">
      </ion-avatar>
      <ion-card><h2 *ngFor="let message of chats">{{message}}</h2>
      </ion-card>
      <ion-note item-left>1:12 pm</ion-note>
    </ion-item>

  </ion-content>

<ion-footer>
  <ion-item>
    <ion-input type="text" [(ngModel)]="chat_input" placeholder="Enter message"></ion-input>
  </ion-item>

    <button ion-button block (click)="send(chat_input)">Send</button>
</ion-footer>
