page-modcitas {
 //header
.top{
    text-align: center;
    padding: 0px 35px 0 0;
}
.avatar{
    min-width: 46px;
    min-height: 46px;
    border: 1px solid #dc3155;
    border-radius: 100%;
    padding-top: 2px;
    padding-left: 2px;
}
//content
ion-item{
     .item-inner{
        border-bottom: 0px solid!important;
    }
}
.col20{
    border-radius: 100%;
    border: 1px solid #dc3155;
    max-width: 70px;
    max-height: 70px;
    background: #dc3155;
    margin-top: 25px;
    margin-right: 10px;
}
.border{
    border-bottom: 1px solid #dedede;
}
.button{
    margin: 1rem 0.2rem;
    width: 60%;

}
//footer

}
