page-progreso {
body, span, button, h1, h2, h3, h4, h5, h6 {
    font-family: 'avenir' !important;
    }
 /*header*/
 .toolbar-background{
    	background: transparent;
    }
    .toolbar-title-md{
	  padding: 0 35px 0px 0px;
	  text-align:center;
	  color: white;	
	}
	.toolbar-title-ios{
	  
	  text-align:center;
	  color: white;	
	}

	.toolbar-background{
		border-style:none !important;
	}
	.toolbar-background{
	
	border: none !important;
}
 	.toolbar-background{
    	background: transparent;
    }
    .bar-button-default{
    	color:white;
    }
    .pa50{
		height: 35px;
	}
	.text-center{
		text-align:center;
	}
	.item2{
        width: 72px;
		height: 80px;
		margin: 0px auto;
		display: inline-block;
		margin-left: 5px;
        
      }
	  .item{
        background: transparent;
		width: 72px;
		height: 75px;
		border-radius: 100%;
		border: 1px solid white;
		margin: 0 auto;
		display: inline-block;
		margin-top: 4px;
        ion-icon{
          font-size:40px;
          text-align:center;
          display:block;
          margin: 15px auto;
    	  position: relative;
    	  margin-bottom: 0px;
		  color:white;
        }
      }
	  .text-label2{
		margin: 0;
		color: white;
		text-align: center;
		}
 /*fin header*/
 /*contain*/
 .lista{
	 border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
 }
}
